body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.mitte {
    display: flex; 
    justify-content: center;
    align-items: center;
}

.titelbild-startseite {
    width: 100%;
    height: 480px;
}

.titelbild-startseite img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
}

.titelbild-unterseite {
    width: 100%;
    height: 200px;
}

.titelbild-unterseite img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
}

header {
    margin-top: 1px;
    margin-bottom: 1px;
}

@media screen and (min-width: 800px) {
    #titelbild {
        height: 600px; 
    }
}

/* .cookie_message .text_cookie_message {
    display: block;
    margin-bottom: 10px;
}

.cookie_message {
    font-size: 16px;
    line-height: 23px;
} */

nav {
    position: sticky;
    top: 0px;
    backdrop-filter: blur(8px);
    padding-bottom: 20px; 
}

.einleitung-section {
    display:block; 
    padding-top: 20px;
    padding-bottom: 30px;
}

.button-section {
    text-align: center;

}

button {
    cursor: pointer;
    outline: none;
}

button.button-index {
    font-size: 20px;
    font-weight: 100;
    border-width: 3px;
    padding: 50px, 30px;
    
}

button.outline {
    position: relative;
    background: transparent;
    color: black;
    letter-spacing: 1px;
    border-color: blueviolet;
    border-style: solid;
    transition: all 0.2s linear;
    }

/*footer {
    display: block; 
}*/

.page-footer {
    position: relative;
    padding-top: 2px;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    padding-bottom: 5px;
    width: 100%;
    margin-top: 100px; 
    text-align: center;
}

.footer-description {
    font-size: small;
    text-align: center;
}

footer ul, nav ul {
    list-style: none;
    margin: 0; 
    padding: 0;
    padding-top: 24px; 
    padding-bottom: 2px; 
    }

    footer ul li a, nav ul li a {
    font-weight: 600;
    padding: 16px; 
}

section {
    max-width: 400px; 
    margin-left: auto; 
    margin-right: auto; 
    padding-left: 16px; 
    padding-right: 16px; 
}

h2 {
    font-size: medium;
    padding-top: 20px;
}

* {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }